#main-header {
    padding: 2rem 2rem;
    background: #2b2a2a;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  /* #main-header h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0;
  } */
  
